---
layout: default
---


<span class="time">
  <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
</span>


<span class="author">
  /
  <a href="{{ site.url }}">{{ site.author }}</a>
</span>

{% if page.tags %}
<span class="tags">
  /
  {% for tag in page.tags %}
  <a href="/tags/#{{ tag }}" title="{{ tag }}">#{{ tag }}</a>
  {% endfor %}
</span>
{% endif %}

<section class="meta">
  <span><p align="left"><strong>【注：想穿越至移动设备？请拉至文章末尾】</strong></p></span>
</section>

<section class="post">
{{ content }}
</section>
<p>（全文完）</p>
<!-- Add MathJax For math formula -->
{% include mathJax.md %}
<!-- Add MathJax End -->

<!-- Add Auto QR Code Generator -->
{% include qrCodeGenerate.md %}
<!-- QR Code End -->

<section class="meta">
<span>
<p align="center"><strong>(转载本站文章请注明作者和原文出处 <a href="{{ site.url }}{{ page.url }}">YellowTree – {{ site.name }}</a>，请勿用于任何商业用途)</strong></p>
</span>

<br/>

<!-- Baidu Botton (Part 1/2)-->
<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
<!-- Baidu Botton End -->

<span>
	<a {% if page.previous %} href="{{ site.url }}{{ page.previous.url }}" class="pageNav"{% endif %} {% unless page.previous %} class="pageNavInvalid" {% endunless %} >Previous</a>

	&nbsp;&nbsp;&nbsp;

	<a {% if page.next %} href="{{ site.url }}{{ page.next.url }}" class="pageNav"{% endif %} {% unless page.next %} class="pageNavInvalid" {% endunless %} >Next</a>
  
</span>
<hr>
<span class="author">
  <a href="{{ site.url }}">{{ site.author }}</a>
</span>
<span class="time">
  /
  <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
</span>
<br />
<span class="license">
  Published under <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">(CC) BY-NC-SA</a>
</span>

{% if page.categories %}
<span class="categories">
  in categories
  {% for cat in page.categories %}
  <a href="/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>&nbsp;
  {% endfor %}
</span>
{% endif %}

{% if page.tags %}
<span class="tags">
  tagged with 
  {% for tag in page.tags %}
  <a href="/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>&nbsp;
  {% endfor %}
</span>
{% endif %}

</section>

{% include comments.md %}

<!-- Baidu Botton (Part 2/2) -->
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
<!-- Baidu Botton End -->

